CSW/Demo2WSC/src/conf/xml-resources/web-service-references/CustomerWS/wsdl/localhost_8080/demo2WS-war/CustomerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="CustomerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/demo2WS-war/CustomerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="AddCustomer">
<part name="parameters" element="tns:AddCustomer"/>
</message>
<message name="AddCustomerResponse">
<part name="parameters" element="tns:AddCustomerResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="DelCustomer">
<part name="parameters" element="tns:DelCustomer"/>
</message>
<message name="DelCustomerResponse">
<part name="parameters" element="tns:DelCustomerResponse"/>
</message>
<portType name="CustomerWS">
<operation name="AddCustomer">
<input wsam:Action="http://ws/CustomerWS/AddCustomerRequest" message="tns:AddCustomer"/>
<output wsam:Action="http://ws/CustomerWS/AddCustomerResponse" message="tns:AddCustomerResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://ws/CustomerWS/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://ws/CustomerWS/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws/CustomerWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/CustomerWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="DelCustomer">
<input wsam:Action="http://ws/CustomerWS/DelCustomerRequest" message="tns:DelCustomer"/>
<output wsam:Action="http://ws/CustomerWS/DelCustomerResponse" message="tns:DelCustomerResponse"/>
</operation>
</portType>
<binding name="CustomerWSPortBinding" type="tns:CustomerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AddCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DelCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerWS">
<port name="CustomerWSPort" binding="tns:CustomerWSPortBinding">
<soap:address location="http://localhost:8080/demo2WS-war/CustomerWS"/>
</port>
</service>
</definitions>