CSW/Demo3WSC/src/conf/xml-resources/web-service-references/WorkeerWS/wsdl/localhost_8080/Demo3/WorkeerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WorkeerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/Demo3/WorkeerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="addWorker">
<part name="parameters" element="tns:addWorker"/>
</message>
<message name="addWorkerResponse">
<part name="parameters" element="tns:addWorkerResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="WorkeerWS">
<operation name="addWorker">
<input wsam:Action="http://ws/WorkeerWS/addWorkerRequest" message="tns:addWorker"/>
<output wsam:Action="http://ws/WorkeerWS/addWorkerResponse" message="tns:addWorkerResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://ws/WorkeerWS/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://ws/WorkeerWS/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws/WorkeerWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/WorkeerWS/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="WorkeerWSPortBinding" type="tns:WorkeerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addWorker">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WorkeerWS">
<port name="WorkeerWSPort" binding="tns:WorkeerWSPortBinding">
<soap:address location="http://localhost:8080/Demo3/WorkeerWS"/>
</port>
</service>
</definitions>