CSW/Lab1WSC/src/conf/xml-resources/web-service-references/CountryWS/wsdl/localhost_9999/Lab1WS-war/CountryWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="CountryWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:9999/Lab1WS-war/CountryWS?xsd=1"/>
</xsd:schema>
</types>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="saveCountry">
<part name="parameters" element="tns:saveCountry"/>
</message>
<message name="saveCountryResponse">
<part name="parameters" element="tns:saveCountryResponse"/>
</message>
<portType name="CountryWS">
<operation name="findAll">
<input wsam:Action="http://ws/CountryWS/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://ws/CountryWS/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws/CountryWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/CountryWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="saveCountry">
<input wsam:Action="http://ws/CountryWS/saveCountryRequest" message="tns:saveCountry"/>
<output wsam:Action="http://ws/CountryWS/saveCountryResponse" message="tns:saveCountryResponse"/>
</operation>
</portType>
<binding name="CountryWSPortBinding" type="tns:CountryWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveCountry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CountryWS">
<port name="CountryWSPort" binding="tns:CountryWSPortBinding">
<soap:address location="http://localhost:9999/Lab1WS-war/CountryWS"/>
</port>
</service>
</definitions>